.navbar {
    background-color: #151a3a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login{
    float: right;
    
}
.container-fluid>a{
    text-decoration: none;
    margin-left: 5px;
    color: white;
}
:root {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;

  }

.logo{
    color: black;
}

.footer{
    background-color: #151a3a;
    color: aliceblue;
    position: relative;
    bottom: 0px;
    
    width: 100%;
    height: 25px;

}
@media (max-width: 576px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .img_art{
        padding-left: 0;
      padding-right: 0;
    }
  }
.footer>p{
    text-align: center;
}
.main_content{
    background-image: url('../img/back.jpg') ;
    height: 90vh;
    text-align: center;
}
.welcome{
    color: white;
    
    padding-top: 200px;
    padding-bottom: 20px;
    font-weight: bolder;
}
.start_reading{
    background-color: #0E292F;
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    
    font-size: large;
}
.read_moreart{
    background-color: #0E292F;
    color: white;
}
.categories{
    background-color: #44E5E7;
}
.start_reading:hover{
    color: white;
    background-color: #151a3a;
}
.second_section{
    padding-top: 21px;


}
.hover-bg{
    background-color: #10172d;

}
.hover-bg>a{
    color: white;
}
.hover-bg:hover{
    background-color:#36487f;
}
.picz{
    height: 70vh;
    width: 100vw;
    background-size: cover;
}
.image-cover {
    width: 100%;
      height: 300px; /* Adjust the height as needed */
      object-fit: cover;
      object-position: center;
  }